// Width variables for media queries
$sm: 600px;     //small
$lg: 700px;     //small
$ht: 534px;

// Min width goes form "width" which is defined that way ------->
// If you are resizing the right corner
$sm-up: "(min-width: #{$sm + 1})";
$lg-up: "(min-width: #{$lg + 1})";

// Max width goes form "width" or "height" which is defined this way <-------
// If you are resizing the right corner
$sm-dn: "(max-width: #{$sm})";
$lg-dn: "(max-width: #{$lg})";
$ht-dn: "(max-height: #{$ht})";
// use
// in your main.scss
// `import "breakpoints";`
// then in your main.scss
//`@media #{$xs-up} { ... }`