@import "breakpoints";

* {
  margin:0;
  padding: 0;
}

html,
body { height: 100%; }

body { background: #1e1f27; }

#widget-container {
  height: 100%;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  background: #292c3d;
  @media #{$ht-dn} { height: auto; }
  & > div {
    // width: 100%;
    @media #{$lg-up} { width: 50%; }
    &:only-child { width: auto; }
  }
  #side-panel {
    background: url('../img/bg.jpg') no-repeat 50% 0%;
    background-size: cover;
    @media #{$sm-dn} { display: none; }
    @media #{$sm-up} { width: 30%; }
    @media #{$lg-up} { width: 50%; }

  }
  #okta-sign-in {
    border: none;
    background: #292c3d;
    margin: auto;
    flex-direction: column;
    align-content: center;
    border-radius: 0;
    border: none;
    box-shadow: none;
    @media #{$sm-up} { width: 70%; }
    @media #{$lg-up} { width: 50%; }
    .o-form  {
      h2,
      label { color: #ffffff; }
      h2 {
        font-family: 'Helvetica Neue';
        font-weight: 300;
        font-size: 25px;
      }
      @mixin autofill {
        padding: 0px 16px !important;
        font-size: 30px !important;
        //color: #882424 !important;
      }
      // keep :autofill separate or they won't work
      .input-fix input[type=text],
      .input-fix input[type=password],
      .input-fix input[type=text]:focus,
      .input-fix input[type=password]:focus {
        @include autofill;
      }
      .input-fix input:autofill {
        @include autofill;
      }
      .input-fix input:-moz-autofill {
        @include autofill;
      }
      .input-fix input:-webkit-autofill,
      .input-fix input:-webkit-autofill:hover,
      .input-fix input:-webkit-autofill:focus,
      .input-fix input:-webkit-autofill:active {
        @include autofill;
      }

      // .input-fix input:-webkit-autofill {
      //   -webkit-box-shadow:0 0 0 50px #1c1e29 inset;
      //   -webkit-text-fill-color: #882424;
      //   font-size: 30px;
      // }
      // .input-fix input:-webkit-autofill:focus {
      //   -webkit-box-shadow: 0 0 0 50px #1c1e29 inset;
      //   -webkit-text-fill-color: #882424;
      //   font-size: 30px;
      // }

      // input:focus::-webkit-input-placeholder{
      //   color: transparent!important;
      // }
      // input:focus::-moz-placeholder{
      //     color: transparent!important;
      // }
      // input:focus:-moz-placeholder{
      //     color: transparent!important;
      // }

    }
    .link { color: #ffffff; }
    .okta-sign-in-header { border-bottom-color: #ff0000; }

    .content-container {
      border-top-color: #ff0000;
      text-align: center;
      * { color: #fff; }
    }
    .okta-form-input-field {
      background-color: inherit;
      border-color: #000000;
      background-color: #1c1e29;
      height: 60px;
    }
    .button-primary {
      background-color: #1c1e29;
      background: -o-linear-gradient(top, #1c1e29 0%, #1d1f2b 100%);
      background: -ms-linear-gradient(top, #1c1e29 0%, #1d1f2b 100%);
      background: linear-gradient(#1c1e29, #1d1f2b);
      border-color: #000;
      border-bottom-color: #000;
      color: #f00;
      font-size: 18px;
      height: 60px;
      line-height: 56px;
    }
  }
}